<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Page Title</title>
</head>
<body>
<a href=C:\Users\Reinis\Desktop\velolapa\index.html>index</a>
<h1>Welcome to my best race event homepage</h1>
<p>Registration for 1st stage.</p>

<div class="container">
    <form method="post" action="#" th:object="${registration}" th:action="@{/registration}">

        <input type="text" placeholder="Name" id="name" th:field="*{name}"/> <br>

        <input type="hidden" id="id" th:field="*{id}"/>

        <input type="text" placeholder="Email" id="email" th:field="*{email}"/>

        <input type="text" placeholder="Url where the issue was found on" id="url" th:field="*{url}" />

        <textarea placeholder="Description of the issue" rows="5" id="description" th:field="*{description}" ></textarea>
    </form>

</div>




<a href=C:\Users\Reinis\Desktop\velolapa\index.html>index</a>




</body>
</html>