<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Page Title</title>
</head>
<body>
<p>Back to Home page <a href="/index">here</a></p>
<h1>Welcome to my best race event homepage</h1>
<p>Registration for 1st stage.</p>

<div class="container">
    <form method="post" action="#" th:object="${registration}" th:action="@{/registration}">

        <input type="text" placeholder="Name" id="name" th:field="*{name}"/> <br>
        <input type="text" placeholder="Surname" id="surname" th:field="*{surname}"/> <br>
        <input type="text" placeholder="Gender" id="gender" th:field="*{gender}"/> <br>
        <input type="text" placeholder="Birth date" id="birth" th:field="*{birth}"/> <br>
        <input type="text" placeholder="Country" id="country" th:field="*{country}"/> <br>
        <input type="text" placeholder="E-mail" id="email" th:field="*{email}"/> <br>
        <input type="text" placeholder="Phone number" id="phone" th:field="*{phone}"/> <br>
        <input type="text" placeholder="Team name" id="team" th:field="*{team}"/> <br>
        <input type="text" placeholder="City" id="city" th:field="*{city}"/> <br>
        <input type="text" placeholder="Bike brand" id="bike" th:field="*{bike}"/> <br>



    </form>

</div>



<p>Back to Home page <a href="/index">here</a></p>





</body>
</html>