<!DOCTYPE html>

<html lang="en">
<head>
    <title>RacePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page Title</title>
    <style>
	header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
nav {
  float: right;
  width: 20%;
  height: 200px;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
</style>
</head>
<body>

<header>
    <h2>Welcome to my best race event homepage</h2>
</header>

<section>
    <nav>
        <ul>
            <li>
                <button>
                    <a href="/login">Login</a>>
                </button>
            </li>
            <li>
                <button>
                    <a href=C:\Users\Reinis\Desktop\velolapa\Calendar.html>Calendar</a>>
                </button>
            </li>
            <li>
                <button>
                    <a href=C:\Users\Reinis\Desktop\velolapa\Result.html>Results</a>>
                </button>
            </li>
            <li>
                <button>
                    <a href=C:\Users\Reinis\Desktop\velolapa\Video.html>Foto/Video</a>>
                </button>
            </li>
            <li>
                <button>
                    <a href="/registration">Registration</a>>
                </button>
            </li>
            <li>
                <button>
                    <a href="/participants">Participants</a>>
                </button>
            </li>
        </ul>
    </nav>
    <img src="resources\pictures\velopic.jpg" alt="velo pic" width="800" height="400">
</section>

<p>I hope you like my page.</p>

</body>
</html>