<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Page Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href=C:\Users\Reinis\Desktop\velolapa\index.html>index</a>-->
<!--<h1>Welcome to my best race event homepage</h1>-->
<!--<p>ParticipantsDataEntity for 1st stage.</p>-->
<!--<input type="text" placeholder="Name" id="name" th:field="*{name}"/><br>-->
<!--<input type="text" placeholder="Surname" id="surname" th:field="*{surname}"/><br>-->
<!--<input type="text" placeholder="Gender" id="gender" th:field="*{gender}" /><br>-->
<!--<input type="text" placeholder="Birth date" id="birth" th:field="*{birth}" /> <br>-->
<!--<input type="text" placeholder="Country" id="country" th:field="*{country}" /> <br>-->
<!--<input type="text" placeholder="E-mail" id="email" th:field="*{email}" /> <br>-->
<!--<input type="text" placeholder="Phone" id="phone" th:field="*{phone}" /> <br>-->
<!--<input type="text" placeholder="Team" id="team" th:field="*{team}" /> <br>-->
<!--<input type="text" placeholder="City/Region" id="city" th:field="*{city}" /> <br>-->
<!--<input type="text" placeholder="Bike brend" id="bike" th:field="*{bike}" /> <br>-->

<!--<br>-->
<!--<input type="submit" value="Submit"/> <br>-->


<!--<a href=C:\Users\Reinis\Desktop\velolapa\index.html>index</a>-->




<!--</body>-->
<!--</html>-->