<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Page Title</title>
</head>
<body>
<div class="container participant_list">
    <h1>Welcome to my best race event homepage</h1>
    <p>All participants who are registered for the next race</p>
    <br/>
<button>
    <a href="/index">index</a>>
</button>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Year</th>
            <th>Team</th>
            <th>Bike brand</th>
            <th>Delete</th>
        </tr>


        <th:block th:each="participants : ${participants}">
            <tr>
                <td th:text="${participants.name}">...</td>
                <td th:text="${participants.surname}">...</td>
                <td th:text="${participants.birth}">...</td>
                <td th:text="${participants.team}">...</td>
                <td th:text="${participants.bike}">...</td>
                <td th:text="${participants.surname}">...</td>
                <td ><a th:href="@{'/registration/delete/'+${participants.id}}" > delete</a></td>

            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
